*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 3px 3px 0px #00003f;
    position: relative;
    z-index: 1;
}

.btn::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transform-origin: left;
    transition: all 1s ;
    z-index: -1;
}

.btn:hover::before{
    transform: scale(1);
}

