body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    color: rgb(47, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#clockContainer {
    width: 40vw;
    height: 40vw;
    background-image: url("clock.png");
    margin: auto;
    position: relative;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 20%;
    top: 30%;
    left: 48.7%;
    opacity: 0.8;
    background-color: black;
}

#minute {
    width: 1.5%;
    height: 30%;
    top: 20%;
    left: 49%;
    opacity: 0.8;
    background-color: black;
}

#second {
    width: 1%;
    height: 43%;
    top: 7%;
    left: 49.3%;
    opacity: 0.8;
    background-color: black;
}
